

[Unit]
Description=Service that deduplicates RSS feeds
After=network.target

# See https://github.com/Bodobolero/rssdeduper
# deploy to /etc/systemd/system/rssdeduper.service 
# then run the following commands
#    sudo systemctl daemon-reload
#    sudo systemctl enable rssdeduper
#    sudo systemctl start rssdeduper
#    sudo systemctl status rssdeduper
# Check the logs with:
#    journalctl -u rssdeduper

[Service]
## Modify the following variables for your web server
## For help on available command line options see 
##   rssdeduper --help 
Environment="SOURCE_OPML=/home/peter/rss/feedly-source.opml"
Environment="TARGET_OPML=/home/peter/rss/feedly-target.opml"
Environment="FEED_FILE=/home/peter/rss/feeds.json"
# Set the logging level to your needs, default is error
Environment="RUST_LOG=info"
## copy the Rust release binary to /usr/bin/rssdeduper or
## adjust the ExecStart path below
ExecStart=/usr/bin/rssdeduper --so ${SOURCE_OPML} --to ${TARGET_OPML} --ff ${FEED_FILE}
User=peter
Restart=always

[Install]
WantedBy=multi-user.target